<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-grow text-info" *ngIf="loading" style="width: 30rem; height: 30rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!loading">
  <div class="card" style="width: 20rem;" *ngFor="let register of registers">
    <div class="card-body">
      <h5 class="card-title">{{register.firstName}} {{register.lastName}} {{register.sureName}}</h5>

      <p class="card-text">{{register.comment}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Gender:</strong> {{register.gender}}</li>
      <li class="list-group-item"><strong>Place of study/work:</strong> {{register.placeOfStudy}}</li>
      <li class="list-group-item"><strong>T-shirt size:</strong> {{register.size}}</li>
      <li class="list-group-item"><strong>Phone number:</strong> {{register.phoneNumber}}</li>
    </ul>
    <div class="card-body" *ngFor="let item of register.skills">
      <p class="list-group-item"><strong>Skill:</strong> {{item.skill}}</p>
      <p class="list-group-item"><strong>Level of skill: </strong>{{item.level}}</p>
    </div>

    <button
      type="submit"
      class="btn btn-danger"
      (click)="onDeleteRegister(register.id)"
    >
          <span
          >Delete</span>
    </button>
  </div>
</div>
