<div class="container">
  <div class="row mt-3 ml-2">
    <h3>Please fill registration form</h3>
  </div>
  <div class="row mt-3 ml-5">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('firstName', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your name
        </small>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('lastName', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your Lastname
        </small>
      </div>

      <div class="form-group">
        <label for="sureName">Surname</label>
        <input
          type="text"
          formControlName="sureName"
          id="sureName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('sureName', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your Surename
        </small>
      </div>

      <div class="form-group">
        <label for="size">T-shirt size</label>
        <select
          formControlName="size"
          id="size"
          class="form-control"
        >
          <option value="s">Small</option>
          <option value="m">Middle</option>
          <option value="l">Large</option>
          <option value="xl">Extra large</option>
        </select>
        <small
          *ngIf="fieldHasError('size', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your size
        </small>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          formControlName="phoneNumber"
          id="phoneNumber"
          class="form-control"
          placeholder="996 XXX XXX - YYY"
          appNumber
        />
        <small
          *ngIf="fieldHasError('phoneNumber', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your phone number
        </small>
        <small
          *ngIf="fieldHasError('phoneNumber', 'phoneNumber')"
          class="form-text invalid-form-text"
        >
          Enter correct number!!!
        </small>
      </div>

      <div class="form-group">
        <label for="placeOfStudy">Place of study or work</label>
        <input
          type="text"
          formControlName="placeOfStudy"
          id="placeOfStudy"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('placeOfStudy', 'required')"
          class="form-text invalid-form-text"
        >
          Please show your place of work or place of study
        </small>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleGender"
            value="male"
            formControlName="gender"
          />
          <label for="maleGender" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleGender"
            value="female"
            formControlName="gender"
          />
          <label for="femaleGender" class="form-check-label">Female</label>
        </div>
      </div>

      <div class="form-group">
        <label class="mb-2" for="comment"></label>
        <textarea
          formControlName="comment"
          id="comment"
          cols="30"
          maxlength="300"
          placeholder="Leave a comment"
        >Leave some comment to us</textarea>
        <small
          *ngIf="fieldHasError('comment', 'required')"
          class="form-text invalid-form-text"
        >
          Please leave us some comment
        </small>
      </div>

      <div class="form-group" formArrayName="skills">
        <label for="skill"></label>
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="addSkillsAndLevel()"
        >Add skills and level
        </button>

        <div class="form-inline d-flex p-2" *ngFor="let skillControl of getSkillControls(); let i = index">
          <div [formGroupName]="i" class="d-flex justify-content-center">
            <select
              formControlName="skill"
              id="skill"
              class="form-control"
            >
              <option value="">Select a skill:</option>
              <option value="javascript">JavaScript</option>
              <option value="react">React</option>
              <option value="angular">Angular</option>
              <option value="voe">VOE</option>
            </select>&nbsp;

            <label for="level"></label>
            <select
              id="level"
              class="form-control"
              formControlName="level"
            >
              <option value="">Level of skill:</option>
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>

          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        [disabled]="profileForm.invalid || isTouched"
      >Register
        <span
          *ngIf="isUploading"
          class="spinner-border spinner-border-sm">
      <span class="sr-only">Loading...</span>
    </span>
      </button>
    </form>

  </div>
</div>
