<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Registration</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="added-registration" class="nav-link">Added registration</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
